<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>board sample for firebase (Auth)</title>
</head>
<body>
<form name="form1" action="loginChk" method="post">
		<table border="1" style="width:600px">
			<caption>board sample for firebase (Auth)</caption>
			<colgroup>
				<col width='15%' />
				<col width='*%' />
			</colgroup>
			<tbody>
				<tr>
					<td>ID</td> 
					<td><input type="text" name="id" size="20" maxlength="20"></td> 
				</tr>
				<tr>
					<td>Password</td> 
					<td><input type="password" name="passwd" size="20" maxlength="20"></td> 
				</tr>
			</tbody>
		</table>
		<a href="#" onclick="form1.submit()">Login</a>
	</form>	
</body>
</html>
